:root {
  --main-color: #0098DA;
  --orange: #f39c12;
  --red: #e74c3c;
  --white: #ffffff;
  --light-bg: #EFEFEF;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 1.5rem 2rem rgb(0, 0, 0, .2);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-bg);
}

.container {
  
  max-width: 1200px;
  margin: 4% auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.email{
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 2px solid #ddd;  
}

table th {
  background-color: #f3f2f2;
  width: 15%;
}

table td {
  font-size: 14px;
}

.edit-btn{
  padding: 10px;
  font-size: 1.1rem;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 6px;
  /* float: right; */
}

#status {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

