#content2{
    
}

#preview{
    padding-right: 30rem;
}

.qrhead{
    padding-left: 36rem;
    
}

.scanqr{
    font-size: 2rem;
    padding-left: 40rem;
}

.orderdetails{
    margin-top: 1rem;
    background-color: white;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 60rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.o{

}